Source: rudder-agent
Section: admin
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 7), libssl-dev, bison, gcc, flex, autoconf, automake, libtool, libpcre3-dev, libpam0g-dev
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uuid-runtime, dmidecode, cron, net-tools
# The dependencies below are defined in order to use rudder-agent
# for the server. This will add capabilities to send inventories
# from the server itself.
Provides: rudder-cfengine-community, rudder-agent
Conflicts: rudder-cfengine-community, rudder-agent-thin
Replaces: rudder-cfengine-community, rudder-server-root (<< 2.4.0~beta2)
Breaks: rudder-server-root (<< 2.4.0~beta2)
Description: Configuration management and audit tool - agent
 Rudder is an open source configuration management and audit solution.
 .
 This package contains the agent that must be installed on all nodes to be
 managed by Rudder. It is based on two main components: CFEngine Community 3 and
 FusionInventory.
