#!/usr/bin/make -f
# -*- makefile -*-

# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BUILD_CFLAGS=$(shell [ -x /usr/bin/dpkg-buildflags ] && /usr/bin/dpkg-buildflags --get CFLAGS )
BUILD_LDFLAGS=$(shell [ -x /usr/bin/dpkg-buildflags ] && /usr/bin/dpkg-buildflags --get LDFLAGS )

# NOTE: Rust build is disabled on Debian 8 & Ubuntu 14.04 even if they could support it
# as they don't support the system-updates modules.

# add openssl to old distributions
OS_CODENAME := $(shell lsb_release -s -c)
# Ubuntu 18.04
ifeq (bionic,$(OS_CODENAME))
WITH = --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2 --with-augeas
STRIP_OPT = --no-automatic-dbgsym
endif
# Ubuntu 20.04
ifeq (focal,$(OS_CODENAME))
WITH = --with-lmdb --with-libcurl --with-pcre2 --with-augeas
STRIP_OPT = --no-automatic-dbgsym
endif
# Ubuntu 22.04
ifeq (jammy,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb --with-libcurl
STRIP_OPT = --no-automatic-dbgsym
BUILDDEB_OPT = -- -Zxz
endif
# Ubuntu 24.04
ifeq (noble,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb
STRIP_OPT = --no-automatic-dbgsym
BUILDDEB_OPT = -- -Zxz
endif

# Debian 10
ifeq (buster,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb --with-libcurl --with-pcre2 --with-augeas
STRIP_OPT = --no-automatic-dbgsym
endif
# Debian 11
ifeq (bullseye,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb --with-libcurl --with-augeas
STRIP_OPT = --no-automatic-dbgsym
endif
# Debian 12
ifeq (bookworm,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb
STRIP_OPT = --no-automatic-dbgsym
endif
# Debian 13
ifeq (trixie,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb
STRIP_OPT = --no-automatic-dbgsym
endif

# manage dependencies
ifeq ($(findstring with-openssl,$(WITH)),)
DEPS := $(DEPS), openssl
endif
ifeq ($(findstring with-libcurl,$(WITH)),)
DEPS := $(DEPS), curl
endif
ifeq ($(findstring with-augeas,$(WITH)),)
DEPS := $(DEPS), augeas-tools
endif
ifeq ($(findstring with-pcre2,$(WITH)),)
DEPS := $(DEPS), libpcre2-8-0
endif
ifeq ($(findstring with-lmdb,$(WITH)),)
DEPS := $(DEPS), liblmdb0
endif

build:
	dh_testdir
	cd SOURCES && ./configure $(WITH)
	cd SOURCES && $(MAKE) build BUILD_CFLAGS="$(BUILD_CFLAGS)" BUILD_LDFLAGS="$(BUILD_LDFLAGS)"

clean:
	dh_testdir
	dh_testroot
	cd SOURCES && ./configure && $(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	cd SOURCES && $(MAKE) install BUILD_LDFLAGS="$(BUILD_LDFLAGS)" DESTDIR=$(CURDIR)/debian/tmp

# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
#	dh_installmenu
	dh_installdebconf
#	dh_installlogrotate
#	dh_installmime
#	dh_python
	# Init script and configuration files
	dh_install lib
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip $(STRIP_OPT)
	dh_compress
	dh_fixperms -Xppkeys
	dh_perl opt/rudder/
	dh_makeshlibs
	dh_installdeb
	# the conffiles case
	#-------------------
	# 1/ dh_installdeb adds everything under /etc as conffile (since v12, packages.conffiles file is also ignored)
	# to do so, it lists them in debian/<packagename or tmp>/DEBIAN/conffiles
	# 2/ when a conffile becomes a non conffile, dpkg happily replaces it
	sed -i '\|/etc/cron.d/rudder-agent|d' debian/*/DEBIAN/conffiles
	dh_shlibdeps -- --ignore-missing-info
	dh_gencontrol -- "-Vrudder:deps=$(DEPS)"
	dh_md5sums
	dh_builddeb $(BUILDDEB_OPT)

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
