#!/usr/bin/make -f
# -*- makefile -*-

# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BUILD_CFLAGS=$(shell [ -x /usr/bin/dpkg-buildflags ] && /usr/bin/dpkg-buildflags --get CFLAGS )
BUILD_LDFLAGS=$(shell [ -x /usr/bin/dpkg-buildflags ] && /usr/bin/dpkg-buildflags --get LDFLAGS )

# NOTE: Rust build is disabled on Debian 8 & Ubuntu 14.04 even if they could support it
# as they don't support the system-updates modules.

# add openssl to old distributions
OS_CODENAME := $(shell lsb_release -s -c)
# Ubuntu 10.04
ifeq (lucid,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --disable-https --disable-systemd --disable-pie --with-perl --with-jq --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
endif
# Ubuntu 12.04
ifeq (precise,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --disable-systemd --disable-pie --with-jq --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
endif
# Ubuntu 12.10
ifeq (quantal,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --disable-systemd --disable-pie --with-jq --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
endif
# Ubuntu 13.04
ifeq (raring,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --disable-https --disable-systemd --disable-pie --with-jq --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
endif
# Ubuntu 14.04
ifeq (trusty,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --disable-systemd --with-jq --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
endif
# Ubuntu 15.10
ifeq (wily,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --with-jq --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
endif
# Ubuntu 16.04
ifeq (xenial,$(OS_CODENAME))
WITH = --disable-rust --disable-bindgen --disable-apt --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
STRIP_OPT = --no-automatic-dbgsym
endif
# Ubuntu 18.04
ifeq (bionic,$(OS_CODENAME))
WITH = --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2 --with-augeas
STRIP_OPT = --no-automatic-dbgsym
endif
# Ubuntu 20.04
ifeq (focal,$(OS_CODENAME))
WITH = --with-lmdb --with-libcurl --with-pcre2 --with-augeas
STRIP_OPT = --no-automatic-dbgsym
endif
# Ubuntu 22.04
ifeq (jammy,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb --with-libcurl
STRIP_OPT = --no-automatic-dbgsym
BUILDDEB_OPT = -- -Zxz
endif
# Ubuntu 24.04
ifeq (noble,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb
STRIP_OPT = --no-automatic-dbgsym
BUILDDEB_OPT = -- -Zxz
endif

# Debian 5
ifeq (lenny,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --disable-https --disable-systemd --disable-pie --with-perl --with-jq --with-openssl --with-libcurl --with-lmdb --with-libxml2 --with-libyaml --with-pcre2
endif
# Debian 6
ifeq (squeeze,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --disable-https --disable-systemd --disable-pie --with-jq --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
endif
# Debian 7
ifeq (wheezy,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --disable-systemd --disable-pie --with-jq --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
endif
# Debian 8
ifeq (jessie,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --with-jq --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
endif
# Debian 9
ifeq (stretch,$(OS_CODENAME))
WITH = --disable-rust --disable-apt --disable-bindgen --with-openssl --with-libcurl --with-augeas --with-lmdb --with-pcre2
STRIP_OPT = --no-automatic-dbgsym
endif
# Debian 10
ifeq (buster,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb --with-libcurl --with-pcre2 --with-augeas
STRIP_OPT = --no-automatic-dbgsym
endif
# Debian 11
ifeq (bullseye,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb --with-libcurl --with-augeas
STRIP_OPT = --no-automatic-dbgsym
endif
# Debian 12
ifeq (bookworm,$(OS_CODENAME))
WITH = --with-augeas --with-lmdb
STRIP_OPT = --no-automatic-dbgsym
endif

# manage dependencies
ifeq ($(findstring with-openssl,$(WITH)),)
DEPS := $(DEPS), openssl
endif
ifeq ($(findstring with-perl,$(WITH)),)
DEPS := $(DEPS), libxml-treepp-perl, perl
endif
ifeq ($(findstring with-libcurl,$(WITH)),)
DEPS := $(DEPS), curl
endif
ifeq ($(findstring with-augeas,$(WITH)),)
DEPS := $(DEPS), augeas-tools
endif
ifeq ($(findstring with-jq,$(WITH)),)
DEPS := $(DEPS), jq
endif
ifeq ($(findstring with-libyaml,$(WITH)),)
DEPS := $(DEPS), libyaml-0-2
endif
ifeq ($(findstring with-libxml2,$(WITH)),)
DEPS := $(DEPS), libxml2
endif
ifeq ($(findstring with-pcre2,$(WITH)),)
DEPS := $(DEPS), libpcre2-8-0
endif
ifeq ($(findstring with-lmdb,$(WITH)),)
DEPS := $(DEPS), liblmdb0
endif
ifeq ($(findstring disable-systemd,$(WITH)),)
DEPS := $(DEPS), systemd
endif
ifeq ($(findstring disable-apt,$(WITH)),)
DEPS := $(DEPS), libapt-pkg
endif

build:
	dh_testdir
	cd SOURCES && ./configure $(WITH)
	cd SOURCES && $(MAKE) build BUILD_CFLAGS="$(BUILD_CFLAGS)" BUILD_LDFLAGS="$(BUILD_LDFLAGS)"

clean:
	dh_testdir
	dh_testroot
	cd SOURCES && ./configure && $(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	cd SOURCES && $(MAKE) install BUILD_LDFLAGS="$(BUILD_LDFLAGS)" DESTDIR=$(CURDIR)/debian/tmp
	# remove perl doc
	rm -rf $(CURDIR)/debian/tmp/opt/rudder/man $(CURDIR)/debian/tmp/opt/rudder/lib/perl5/5.22.0/pod
ifneq ($(findstring disable-systemd,$(WITH)),)
	# let this file be managed by dh_installinit
	mv $(CURDIR)/debian/tmp/etc/init.d/rudder-agent debian/rudder-agent.init
endif

# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
#	dh_installmenu
	dh_installdebconf
#	dh_installlogrotate
#	dh_installmime
#	dh_python
	# Init script and configuration files
ifeq ($(findstring systemd,$(WITH)),)
	dh_install lib
else
	dh_installinit --no-start -R # restart after upgrade (instead of stop, upgrade, start)
endif
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip $(STRIP_OPT)
	dh_compress
	dh_fixperms -Xppkeys
ifeq ($(findstring with-perl,$(WITH)),)
	dh_perl opt/rudder/
endif
	dh_makeshlibs
	dh_installdeb
	# the conffiles case
	#-------------------
	# 1/ dh_installdeb adds everything under /etc as conffile (since v12, packages.conffiles file is also ignored)
	# to do so, it lists them in debian/<packagename or tmp>/DEBIAN/conffiles
	# 2/ when a conffile becomes a non conffile, dpkg happily replaces it
	sed -i '\|/etc/cron.d/rudder-agent|d' debian/*/DEBIAN/conffiles
	# LD_LIBRARY_PATH necessary to avoid libcrypto detection problems on old OSes like Ubuntu 10.04
	# Please see https://issues.rudder.io/issues/6337 for details
	LD_LIBRARY_PATH="$(CURDIR)/debian/tmp/opt/rudder/lib:$${LD_LIBRARY_PATH}" dh_shlibdeps -- --ignore-missing-info
	dh_gencontrol -- "-Vrudder:deps=$(DEPS)"
	dh_md5sums
	dh_builddeb $(BUILDDEB_OPT)

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
