Source: rudder-server
Section: admin
Priority: optional
Maintainer: Rudder Team <dev@rudder.io>
Build-Depends: debhelper (>= 12), libltdl3-dev, libssl-dev, python3-dev, ca-certificates, curl, rsync, git
Standards-Version: 4.6.1
Homepage: https://www.rudder.io

Package: rudder-server
Architecture: any
Replaces: rudder-server-root (<< 7.2), rudder-webapp (<< 7.2), rudder-reports (<< 7.2)
Breaks: rudder-server-root (<< 7.2), rudder-webapp (<< 7.2), rudder-reports (<< 7.2)
Depends: ${shlibs:Depends}, ${misc:Depends}, ${rudder:deps}, systemd, postgresql (>=10.3) | rudder-external-db, iproute2, python3, apache2, apache2-utils, git-core, rsync, lsb-release, openssl, ldap-utils, postgresql-client (>=10.3), openjdk-11-jre-headless | java11-runtime-headless, curl, acl, rudder-api-client, zip
Description: Configuration management and audit tool - root server base package
 Rudder is an open source configuration management and audit solution.
 .
 This package install all components required to run a Rudder root server on a machine,
 including the web interface and its dependencies.
