#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

# The root Makefile has all possible target and prevent dh to autodetect them
# We have no test
override_dh_auto_test:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_gencontrol:
	dh_gencontrol -- "-Vrudder:deps=$(shell ../format-dependencies dpkg $(shell dpkg-parsechangelog -SVersion) rudder-agent rudder-server-relay)"

# default zst on ubuntu22 is not supported on our repository
# but xz is supported on all our supported debian based server os
override_dh_builddeb:
	dh_builddeb -- -Zxz


# Default rule that guess what to do for missing targets
%:
	dh $@
