Source: rudder-inventory-endpoint
Section: web
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 7), sun-java6-jdk | java7-jdk
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-inventory-endpoint
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rudder-jetty (= ${binary:Version}) | jetty | jetty8, rudder-inventory-ldap (= ${binary:Version})
Description: Configuration management and audit tool - service to receive inventory data
 Rudder is an open source configuration management and audit solution.
 .
 This package contains a webapp that listens for incoming inventory data from
 nodes that have rudder-agent installed on them. The webapp is automatically
 installed and started using the Jetty application server bundled in the
 rudder-jetty package. It then updates the inventory database provided by
 the rudder-inventory-ldap package.
