Source: rudder-node
Section: admin
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 7), libssl-dev, bison, gcc, flex, libpcre3-dev, libpam0g-dev
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uuid-runtime, dmidecode, cron
Provides: rudder-agent
Conflicts: rudder-agent
Replaces: rudder-agent
Description: Configuration management and audit tool
 Rudder is an open source configuration management and audit solution.
 .
 This package contains the agent that must be installed on all nodes to be
 managed by Rudder. It is based on CFEngine Community.
