Source: rudder-cfengine-community
Section: oldlibs
Priority: extra
Maintainer: Jonathan Clarke <jonathan.clarke@normation.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-cfengine-community
Architecture: all
Depends: rudder-agent, ${shlibs:Depends}, ${misc:Depends}
Description: Transitional dummy package for rudder-agent
 Transitional dummy package to pull in rudder-agent
