[Unit]
Description=CFEngine file server
After=network.target
ConditionPathExists=/var/rudder/cfengine-community/inputs/promises.cf
ReloadPropagatedFrom=rudder-agent.service
PartOf=rudder-agent.service

[Service]
Type=simple
Environment=VERBOSITY_OPTION=--inform
ExecStart=/opt/rudder/bin/cf-serverd --graceful-detach=600 --no-fork $VERBOSITY_OPTION
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
NotifyAccess=main
KillMode=process

[Install]
WantedBy=multi-user.target
WantedBy=rudder-agent.service
