[Unit]
Description=CFEngine Execution Scheduler
ConditionPathExists=/var/rudder/cfengine-community/inputs/promises.cf
ConditionPathExists=!/opt/rudder/etc/disable-agent
ReloadPropagatedFrom=rudder-agent.service
PartOf=rudder-agent.service

[Service]
Type=simple
Environment=VERBOSITY_OPTION=
ExecStart=/opt/rudder/bin/cf-execd --no-fork $VERBOSITY_OPTION
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
RequiredBy=rudder-agent.service
