[Unit]
Description=CFEngine file server
After=syslog.target
After=network.target
ConditionPathExists=/var/rudder/cfengine-community/bin/cf-serverd
ConditionPathExists=/var/rudder/cfengine-community/inputs/promises.cf
ConditionPathExists=!/opt/rudder/etc/disable-agent
ReloadPropagatedFrom=rudder-agent.service
PartOf=rudder-agent.service

[Service]
Type=simple
Environment=VERBOSITY_OPTION=--inform
ExecStart=/var/rudder/cfengine-community/bin/cf-serverd --no-fork $VERBOSITY_OPTION
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=rudder-agent.service
