Source: rudder-webapp
Section: web
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-webapp
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${rudder:deps}, apache2, apache2-utils, git-core, rsync, lsb-release, openssl, ldap-utils, postgresql-client (>=9.2), java8-runtime-headless | openjdk-8-jre-headless | oracle-java8-installer, acl
Description: Configuration management and audit tool - webapp
 Rudder is an open source configuration management and audit solution.
 .
 This package contains the web application that is the main user interface to
 Rudder. The webapp is automatically installed and started using the Jetty
 application server bundled in the rudder-jetty package.
