Source: rudder-webapp
Section: web
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 7), openjdk-7-jdk | openjdk-8-jdk
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-webapp
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rudder-jetty | jetty | jetty8, rudder-techniques (>= ${binary:Version}), apache2, apache2-utils, ncf, git-core, rsync, lsb-release, openssl, ldap-utils, postgresql-client, ncf-api-virtualenv
# Begin takeover config: in version 2.11, rudder-webapp took over several files from rudder-server-root
# See http://www.rudder-project.org/redmine/issues/4654
Replaces: rudder-server-root (<< 2.11)
Breaks: rudder-server-root (<< 2.11)
# End takeover config
Description: Configuration management and audit tool - webapp
 Rudder is an open source configuration management and audit solution.
 .
 This package contains the web application that is the main user interface to
 Rudder. The webapp is automatically installed and started using the Jetty
 application server bundled in the rudder-jetty package.
