#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# dirty hack, don't do this, if your builder comes with java preinstalled you can remove this
# TODO remove as soon as possible
java8:
	dpkg -l | egrep "openjdk-8-jdk|oracle-java8-installer" || ( echo "Installing JDK"; \
		dist=$$(grep '^deb' /etc/apt/sources.list | grep -v backports | head -n1  | LANG=C perl -pe 's/^deb .*? (\w+) .*/$$1/') ;\
		if [ $$dist = "xenial" ] || [ $$dist = "stretch" ] || [ $$dist = "bionic" ]; then \
			DEBIAN_FRONTEND=noninteractive apt-get install -y openjdk-8-jdk; \
		elif [ $$dist = "jessie" ]; then \
			echo "deb http://ftp.fr.debian.org/debian/ jessie-backports main" > /etc/apt/sources.list.d/openjdk.list ; \
			apt-get update && DEBIAN_FRONTEND=noninteractive apt-get -t jessie-backports install -y openjdk-8-jdk ; \
		fi \
	)

build: java8
	dh $@

override_dh_auto_build:
	dh_auto_build -- -C SOURCES

override_dh_auto_install:
	dh_auto_install -- -C SOURCES

override_dh_auto_clean:
	dh_auto_clean -- -C SOURCES

# Default rule that guess what to do for missing targets
%:
	dh $@

