Source: rudder-server-root
Section: web
Priority: extra
Maintainer: Rudder Team <dev@rudder.io>
Build-Depends: debhelper (>= 9), ca-certificates, curl
Standards-Version: 3.8.0
Homepage: https://www.rudder.io

Package: rudder-server-root
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${rudder:deps}, systemd
Description: Configuration management and audit tool - root server base package
 Rudder is an open source configuration management and audit solution.
 .
 This package is essentially a meta-package to install all components required
 to run a Rudder root server on a machine.
