Source: rudder-server-relay
Section: web
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-server-relay
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rudder-agent, apache2, apache2-utils, rsyslog
Description: Configuration management and audit tool - Server relay package
 Rudder is an open source configuration management and audit solution.
 .
 This package is essentially a meta-package to install all components required
 to run a Rudder relay server on a machine.
