Source: rudder-jetty
Section: web
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.rudder-project.org

Package: rudder-jetty
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, java8-runtime-headless | openjdk-8-jre-headless | oracle-java8-installer
Description: Configuration management and audit tool - Jetty application server
 Rudder is an open source configuration management and audit solution.
 .
 Jetty is an Open Source HTTP Servlet Server written in 100% Java. It is
 designed to be light weight, high performance, embeddable, extensible and
 flexible, thus making it an ideal platform for serving dynamic HTTP requests
 from any Java application. See http://jetty.codehaus.org for more details.
 .
 This package bundles a version of the Jetty application server to simplify
 installing Rudder. It is required by the rudder-webapp and
 rudder-inventory-endpoint packages.
