Source: rudder-techniques
Section: web
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-techniques
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ncf (>=0.201411291626)
# The following lines allow this package (rudder-techniques)
# to replace rudder-policy-templates cleanly.
# No need to have a dummy binary package for transition, as
# the new package will be installed as it is a dependency for
# rudder-webapp.
Provides: rudder-policy-templates
Replaces: rudder-policy-templates
Conflicts: rudder-policy-templates
Description: Configuration management and audit tool - techniques
 Rudder is an open source configuration management and audit solution.
 .
 This package contains Techniques, which are configuration models,
 adapted to a function or a particular service. By providing parameters to these
 templates, you can create rules to manage nodes using Rudder
 (nodes are machines using the rudder-agent package).
