Source: rudder-policy-templates
Section: oldlibs
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-policy-templates
Architecture: all
Depends: rudder-techniques, ${shlibs:Depends}, ${misc:Depends}
Description: Transitional dummy package for rudder-techniques
 Transitional dummy package to pull in rudder-techniques
