Source: rudder-ldap
Section: net
Priority: extra
Maintainer: Rudder packaging team <rudder-packaging@rudder-project.org>
Build-Depends: debhelper (>= 9), libltdl3-dev, libssl-dev, ca-certificates, curl
Standards-Version: 3.8.0
Homepage: http://www.rudder-project.org

Package: rudder-ldap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd, rsyslog
Breaks: rudder-inventory-ldap
Replaces: rudder-inventory-ldap
Description: Configuration management and audit tool - OpenLDAP
 Rudder is an open source configuration management and audit solution.
 .
 OpenLDAP Software is an open source implementation of the Lightweight Directory
 Access Protocol. See http://www.openldap.org/ for more details.
 .
 This package bundles a version of the OpenLDAP directory software to simplify
 installing Rudder. It is required by the rudder-webapp and
 rudder-inventory-endpoint packages. The LDAP directory is used as storage for
 inventory information collected from the managed nodes (that have the
 rudder-agent package installed) and for configuration rules and parameters.
