#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	cd SOURCES/berkeleydb-source/build_unix && ../dist/configure --prefix=/opt/rudder
	export LD_LIBRARY_PATH="/opt/rudder/lib" ; CPPFLAGS="-I/opt/rudder/include" ; export LDFLAGS="-L/opt/rudder/lib" ; export LIBS="-L/opt/rudder/lib" ; cd SOURCES/openldap-source && ./configure --prefix=/opt/rudder --libdir=/opt/rudder/lib/ldap --enable-dynamic --enable-debug --enable-modules --enable-hdb=mod --enable-monitor=mod --enable-dynlist=mod --with-cyrus-sasl

	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp
	dh_testdir

	cd SOURCES/berkeleydb-source/build_unix && make
	cd SOURCES/openldap-source && make depend
	cd SOURCES/openldap-source && make

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	if [ -f SOURCES/openldap-source/Makefile ] ; then \
		cd SOURCES/openldap-source && make clean ; \
	fi

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	# Add here commands to install the package
	cd SOURCES/berkeleydb-source/build_unix && make install DESTDIR=$(CURDIR)/debian/tmp
	cd SOURCES/openldap-source && make install DESTDIR=$(CURDIR)/debian/tmp

	# Remove the default config file, we will use our own
	rm $(CURDIR)/debian/tmp/opt/rudder/etc/openldap/slapd.conf


# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install
	dh_install SOURCES/rsyslog/rudder-slapd.conf /etc/rsyslog.d/
	# Install /etc/ld.so.conf.d/rudder.conf in order to use libraries contain
	# in /opt/rudder/lib like BerkeleyDB
	dh_install --SOURCEDIR=$(CURDIR)/SOURCES/ rudder-inventory-ldap.conf /etc/ld.so.conf.d
	dh_install SOURCES/slapd.conf /opt/rudder/etc/openldap/
	dh_install SOURCES/inventory.schema /opt/rudder/etc/openldap/schema/
	dh_install SOURCES/rudder.schema /opt/rudder/etc/openldap/schema/
	dh_install SOURCES/DB_CONFIG /var/rudder/ldap/openldap-data/
	dh_install --SOURCEDIR=$(CURDIR)/SOURCES/ rudder-inventory-ldap /opt/rudder/etc/server-roles.d/
	dh_install --SOURCEDIR=$(CURDIR)/SOURCES/ rudder-ldap /opt/rudder/etc/server-roles.d/
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installmime
#	dh_python
	dh_installinit -R --name=rudder-slapd # restart after upgrade (instead of stop, upgrade, start)
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
