Source: rudder-reports
Section: misc
Priority: extra
Maintainer: Rudder Team <dev@rudder.io>
Build-Depends: debhelper (>= 9), ca-certificates, curl
Standards-Version: 3.7.3
Homepage: https://www.rudder.io

Package: rudder-reports
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql (>=9.2), rsyslog, rsyslog-pgsql, systemd
Conflicts: rsyslog-pgsql (= 7.4.4-1ubuntu2.6)
Description: Configuration management and audit tool - reports database
 Rudder is an open source configuration management and audit solution.
 .
 This packages creates and initializes a PostgreSQL database to receive reports
 sent from nodes managed with Rudder. These reports are used by rudder-webapp to
 calculate compliance to given configuration rules.
