#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

build:
	dh_testdir
	cd SOURCES && make build
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build install
	cd SOURCES && make clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	cd SOURCES && make install DESTDIR=$(CURDIR)/debian/rudder-reports
	touch $@

# Default rule that guess what to do for missing targets
%:
	dh $@

