[Unit]
Description=Rudder OpenLDAP Server Daemon
After=network-online.target
ReloadPropagatedFrom=rudder-server.service
PartOf=rudder-server.service

[Service]
Type=forking
# "ulimit -v unlimited" for big memory-mapped file
LimitAS=infinity
LimitNOFILE=2048
ExecStart=/opt/rudder/libexec/slapd -n rudder-slapd -u rudder-slapd -f /opt/rudder/etc/openldap/slapd.conf -h "ldap://127.0.0.1:389/"

[Install]
RequiredBy=rudder-server.service
WantedBy=multi-user.target

