[Unit]
Description=Jetty Web Application Server
After=syslog.target network.target postgresql.service rudder-slapd.service
Requires=rudder-slapd.service
Wants=postgresql.service
ReloadPropagatedFrom=rudder-server.service
PartOf=rudder-server.service

[Service]
Type=forking

LimitNOFILE=64000
ExecStart=/opt/rudder/bin/rudder-jetty.sh start
ExecStop=/opt/rudder/bin/rudder-jetty.sh stop
SuccessExitStatus=143
TimeoutStartSec=120s

[Install]
RequiredBy=rudder-server.service
WantedBy=multi-user.target

