[Unit]
Description=Jetty Web Application Server
After=network.target postgresql.service rudder-slapd.service
Requires=rudder-slapd.service
Wants=postgresql.service
ReloadPropagatedFrom=rudder-server.service
PartOf=rudder-server.service

[Service]
Type=forking
UMask=0007
LimitNOFILE=64000
PIDFile=/var/rudder/run/rudder-jetty.pid
ExecStartPre=/opt/rudder/bin/rudder-jetty-pre-check.sh
ExecStart=/opt/rudder/bin/rudder-jetty.sh start
ExecStop=/opt/rudder/bin/rudder-jetty.sh stop
SuccessExitStatus=143
TimeoutStartSec=120s

[Install]
RequiredBy=rudder-server.service
WantedBy=multi-user.target

